html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    background-image: linear-gradient(to bottom, #1ed7605e 0%, #0ff0 30% 100%);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: center;
    min-width: 320px;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: center;
    width: 100%;
    max-width: min(100vw, 50rem);
    height: 100%;
    gap: 1rem;
}

form {
    padding: 0 1rem;
    width: 100%;
}

.input-group {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.input-group > * {
    height: 100%;
    padding: 0.1rem;
    border-radius: 9999px;
    border: none;
}

.input-group > :first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group > :last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.url-input {
    flex: 1;
    background-color: #333;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    padding: 0 1rem;
    width: 50rem;
}

.url-input:disabled {
    color: #aaa;
}

.url-input-label {
    font-size: 1rem;
    font-weight: 600;
    padding: 0 1rem;
    width: 50rem;
}

.search-button {
    aspect-ratio: 1/1;
    background-color: #1ed760;
    color: black;
    padding-right: 0.5rem;
}

.search-button:hover,
.search-button:focus {
    background-color: #1cb852;
    cursor: pointer;
}

.search-button[aria-busy='true'] {
    cursor: progress;
    background-color: #1cb852;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.search-button[aria-busy='true'] > svg {
    cursor: progress;
    animation: spin 2s linear infinite;
}

.search-button > svg {
    width: 2rem;
    height: 2rem;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
