html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    box-sizing: border-box;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: center;
    min-width: 320px;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 1rem;
}

form {
    padding: 0 1rem;
    max-width: min(100vw, 50rem);
}

.input-group {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.input-group > * {
    height: 100%;
    padding: 0.1rem;
    border-radius: 9999px;
    border: none;
}

.input-group > :first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group > :last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.url-input {
    flex: 1;
    background-color: #333;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    padding: 0 1rem;
    width: 50rem;
}

.url-input:disabled {
    color: #aaa;
}

.url-input-label {
    font-size: 1rem;
    font-weight: 600;
    padding: 0 1rem;
    width: 50rem;
}

.search-button {
    aspect-ratio: 1/1;
    background-color: #1ed760;
    color: black;
    padding-right: 0.5rem;
}

.search-button:hover,
.search-button:focus {
    background-color: #1cb852;
    cursor: pointer;
}

.search-button[aria-busy='true'] {
    cursor: progress;
    background-color: #1cb852;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.search-button[aria-busy='true'] > svg {
    cursor: progress;
    animation: spin 2s linear infinite;
}

.search-button > svg {
    width: 2rem;
    height: 2rem;
}

.song-card {
    background-color: #181818;
    border-radius: 1rem;
    display: flex;
    place-items: flex-start;
    flex-direction: row;
    padding: 1rem;
}

.song-card__image {
    width: 8rem;
    height: 8rem;
}

.song-card__info {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.song-card__info > * {
    display: flex;
    place-items: center;
    margin: 0;
}

.song-card__info > img {
    width: 70px;
    align-self: flex-end;
}

.song-card__title {
    font-size: 1.5rem;
    font-weight: 600;
}

.song-card__artist {
    font-size: 1rem;
    font-weight: 500;
}

@keyframes button-pop {
    0% {
        transform: scale(0.95);
    }
    40% {
        transform: scale(1.02);
    }
    100% {
        transform: scale(1);
    }
}

.copy-button {
    animation: button-pop 0.25 ease-out;
    display: flex;
    place-items: center;
    justify-content: center;
    background: rgba(0.2, 0.2, 0.2, 0);
    border: none;
    border-radius: 9999px;
    width: 2rem;
    height: 2rem;
}

.copy-button:hover {
    background-color: rgba(0.2, 0.2, 0.2, 0.3);
    cursor: pointer;
}

.copy-button > svg {
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
